DATABASE_URL=postgresql+psycopg://adminuser:YOUR_PASSWORD@freshersdb.postgres.database.azure.com:5432/freshers_db?sslmode=require
JWT_SECRET=change-this-to-a-random-secret-key
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
FLASK_ENV=development
